<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.maid_coffee.mapper.RoleMapper">

    <select id="selectAllRoles" resultType="com.maid_coffee.entity.Role">
        select * from `role`
        <where>
            <if test="roleName != null and roleName != ''">
                role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleCode != null and roleCode != ''">
                and role_code like concat('%', #{roleCode}, '%')
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.maid_coffee.entity.Role">
        select * from `role` where role_id = #{roleId}
    </select>

    <select id="selectByRoleCode" resultType="com.maid_coffee.entity.Role">
        select * from `role` where role_code = #{roleCode}
    </select>

    <insert id="insert">
        insert into `role` (role_name, role_code, description, create_time, update_time)
        values(#{roleName}, #{roleCode}, #{description}, NOW(), NOW())
    </insert>

    <update id="update">
        update `role` set role_name=#{roleName}, role_code=#{roleCode},
        description=#{description}, update_time=NOW()
        where role_id = #{roleId}
    </update>

    <delete id="delete">
        delete from `role` where role_id = #{roleId}
    </delete>
</mapper>
